body {
    width: 200px;
    font-size: 16px;
    background: #141421;
    color: white;
}

.heading {
    font-size: 1.5em;
    font-weight: bold;
    padding-bottom: 0.2em;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding: 0.5em;
}

.logo {
    background-image: url('/assets/logo.png');
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    margin: 1em 0.5em 0 0.5em;
    height: 50px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

label,
input {
    cursor: pointer;
}

label:hover,
input:hover {
    color: #9797ff;
}